<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClassDef</key>
	<array>
		<dict>
			<key>classname</key>
			<string>b2MassData</string>
			<key>type</key>
			<string>struct</string>
			<key>fields</key>
			<array>
				<dict>
					<key>class</key>
					<string>float32</string>
					<key>key</key>
					<string>I</string>
				</dict>
				<dict>
					<key>class</key>
					<string>float32</string>
					<key>key</key>
					<string>mass</string>
				</dict>
				<dict>
					<key>class</key>
					<string>b2Vec2</string>
					<key>key</key>
					<string>center</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>classname</key>
			<string>b2Shape</string>
			<key>type</key>
			<string>class</string>
			<key>fields</key>
			<array>
				<dict>
					<key>key</key>
					<string>m_type</string>
					<key>class</key>
					<string>Type</string>
				</dict>
				<dict>
					<key>class</key>
					<string>float32</string>
					<key>key</key>
					<string>m_radius</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fields</key>
			<array/>
			<key>type</key>
			<string>class</string>
			<key>classname</key>
			<string>b2CircleShape</string>
		</dict>
		<dict>
			<key>fields</key>
			<dict/>
			<key>classname</key>
			<string>class</string>
			<key>type</key>
			<string>b2PolygonShape</string>
		</dict>
		<dict>
			<key>fields</key>
			<array>
				<dict>
					<key>key</key>
					<string>other</string>
					<key>class</key>
					<string>b2Body</string>
				</dict>
				<dict>
					<key>class</key>
					<string>b2Joint</string>
					<key>key</key>
					<string>joint</string>
				</dict>
				<dict>
					<key>key</key>
					<string>prev</string>
					<key>class</key>
					<string>b2JointEdge</string>
				</dict>
				<dict>
					<key>key</key>
					<string>next</string>
					<key>class</key>
					<string>b2JointEdge</string>
				</dict>
			</array>
			<key>type</key>
			<string>struct</string>
			<key>classname</key>
			<string>b2JointEdge</string>
		</dict>
		<dict>
			<key>fields</key>
			<array>
				<dict>
					<key>key</key>
					<string>collideConnected</string>
					<key>class</key>
					<string>bool</string>
				</dict>
				<dict>
					<key>key</key>
					<string>bodyB</string>
					<key>class</key>
					<string>b2Body</string>
				</dict>
				<dict>
					<key>key</key>
					<string>bodyA</string>
					<key>class</key>
					<string>b2Body</string>
				</dict>
				<dict>
					<key>class</key>
					<string>void*</string>
					<key>key</key>
					<string>userData</string>
				</dict>
				<dict>
					<key>key</key>
					<string>type</string>
					<key>class</key>
					<string>b2JointType</string>
				</dict>
			</array>
			<key>type</key>
			<string>struct</string>
			<key>classname</key>
			<string>b2JointDef</string>
		</dict>
		<dict>
			<key>classname</key>
			<string>b2Filter</string>
			<key>type</key>
			<string>struct</string>
			<key>fields</key>
			<array>
				<dict>
					<key>class</key>
					<string>int16</string>
					<key>key</key>
					<string>groupIndex</string>
				</dict>
				<dict>
					<key>class</key>
					<string>unit16</string>
					<key>key</key>
					<string>maskBits</string>
				</dict>
				<dict>
					<key>key</key>
					<string>categoryBits</string>
					<key>class</key>
					<string>unit16</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>fields</key>
			<array>
				<dict>
					<key>class</key>
					<string>b2Filter</string>
					<key>key</key>
					<string>filter</string>
				</dict>
				<dict>
					<key>class</key>
					<string>bool</string>
					<key>key</key>
					<string>isSensor</string>
				</dict>
				<dict>
					<key>class</key>
					<string>float32</string>
					<key>key</key>
					<string>density</string>
				</dict>
				<dict>
					<key>class</key>
					<string>float32</string>
					<key>key</key>
					<string>restitution</string>
				</dict>
				<dict>
					<key>class</key>
					<string>float32</string>
					<key>key</key>
					<string>friction</string>
				</dict>
				<dict>
					<key>class</key>
					<string>void*</string>
					<key>key</key>
					<string>userData</string>
				</dict>
				<dict>
					<key>class</key>
					<string>b2Shape</string>
					<key>key</key>
					<string>shape</string>
				</dict>
			</array>
			<key>type</key>
			<string>struct</string>
			<key>classname</key>
			<string>b2FixtureDef</string>
		</dict>
		<dict>
			<key>fields</key>
			<array>
				<dict>
					<key>class</key>
					<string>float32</string>
					<key>key</key>
					<string>inertiaScale</string>
				</dict>
				<dict>
					<key>class</key>
					<string>void*</string>
					<key>key</key>
					<string>userData</string>
				</dict>
				<dict>
					<key>class</key>
					<string>bool</string>
					<key>key</key>
					<string>active</string>
				</dict>
				<dict>
					<key>class</key>
					<string>bool</string>
					<key>key</key>
					<string>bullet</string>
				</dict>
				<dict>
					<key>class</key>
					<string>bool</string>
					<key>key</key>
					<string>fixedRotation</string>
				</dict>
				<dict>
					<key>class</key>
					<string>bool</string>
					<key>key</key>
					<string>awake</string>
				</dict>
				<dict>
					<key>class</key>
					<string>bool</string>
					<key>key</key>
					<string>allowSleep</string>
				</dict>
				<dict>
					<key>class</key>
					<string>float32</string>
					<key>key</key>
					<string>angularDamping</string>
				</dict>
				<dict>
					<key>class</key>
					<string>float32</string>
					<key>key</key>
					<string>linearDamping</string>
				</dict>
				<dict>
					<key>key</key>
					<string>angularVelocity</string>
					<key>class</key>
					<string>float32</string>
				</dict>
				<dict>
					<key>class</key>
					<string>b2Vec2</string>
					<key>key</key>
					<string>linearVelocity</string>
				</dict>
				<dict>
					<key>class</key>
					<string>float32</string>
					<key>key</key>
					<string>angle</string>
				</dict>
				<dict>
					<key>key</key>
					<string>position</string>
					<key>class</key>
					<string>b2Vec2</string>
				</dict>
				<dict>
					<key>class</key>
					<string>b2BodyType</string>
					<key>key</key>
					<string>type</string>
				</dict>
			</array>
			<key>type</key>
			<string>struct</string>
			<key>classname</key>
			<string>b2BodyDef</string>
		</dict>
		<dict>
			<key>type</key>
			<string>struct</string>
			<key>classname</key>
			<string>b2Vec2</string>
			<key>fields</key>
			<array>
				<dict>
					<key>key</key>
					<string>y</string>
					<key>class</key>
					<string>float32</string>
				</dict>
				<dict>
					<key>class</key>
					<string>float32</string>
					<key>key</key>
					<string>x</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>enum</string>
			<key>fields</key>
			<array>
				<dict>
					<key>key</key>
					<string>b2_dynamicBody</string>
				</dict>
				<dict>
					<key>key</key>
					<string>b2_kinematicBody</string>
				</dict>
				<dict>
					<key>key</key>
					<string>b2_staticBody</string>
				</dict>
			</array>
			<key>classname</key>
			<string>b2BodyType</string>
		</dict>
	</array>
</dict>
</plist>
